<div class="title-container">
    <div class="title-logo">
        <img src="img/logo.svg" alt="">
    </div>
</div>
<h1>Save a video</h1>
<form action="/videos" method="post">
    <label for="title">Title of video:</label>
    <input type="text" name="title" id="title-input">
    <label for="description">Brief Description:</label>
    <textarea type="text" name="description" id="description-input"></textarea>
    <input type="submit" value="Submit" id="submit-button">
</form>