<a id="create-video-btn" href="videos/create" class="add-video-button">Create</a>
<div id="videos-container" class="contents-container">
    {{#each videos as |video|}}
    <div class="video-card">
        <div class="video-title">
            {{video.title}}
        </div>
    </div>
    {{/each}}
</div>